<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All milks
    </h1>

    <a href="/milks/new" class="btn btn-block btn-outline-secondary">
      Add a new milk
    </a>
  </div>
</div>

<!-- Ransack Code start -->

<!-- Ransack Code end -->

<!-- Location Map Code start -->

<!-- Location Map Code end -->

<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Date milk expires
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @milks.each do |milk| %>
      <tr>
        <!-- Display milk.id start -->
        <td>
          <%= milk.id %>
        </td>
        <!-- Display milk.id end -->

        <!-- Display milk.user_id start -->
        <td>
          <%= milk.user.email %>
        </td>
        <!-- Display milk.user_id end -->

        <!-- Display milk.date_milk_expires start -->
        <td>
          <%= milk.date_milk_expires %>
        </td>
        <!-- Display milk.date_milk_expires end -->

        <!-- Display milk.description start -->
        <td>
          <%= milk.description %>
        </td>
        <!-- Display milk.description end -->

        <!-- Display milk.created_at start -->
        <td>
          <%= time_ago_in_words(milk.created_at) %> ago
        </td>
        <!-- Display milk.created_at end -->

        <!-- Display milk.updated_at start -->
        <td>
          <%= time_ago_in_words(milk.updated_at) %> ago
        </td>
        <!-- Display milk.updated_at end -->

        <td>
          <a href="/milks/<%= milk.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
