<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All milks
    </h1>

    <a href="/milks/new" class="btn btn-block btn-outline-secondary">
      Add a new milk
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "milk_templates/milks_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Date milk expires
        </th>

        <th>
          Description
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @milks.each do |milk| %>
      <tr>
        <td>
          <%= milk.id %>
        </td>

        <td>
          <% if milk.user.present? %>
            <a href="/users/<%= milk.user.id %>">
              <%= milk.user.email %>
            </a>
          <% end %>
        </td>

        <td>
          <%= milk.date_milk_expires %>
        </td>

        <td>
          <%= milk.description %>
        </td>

        <td>
          <%= time_ago_in_words(milk.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(milk.updated_at) %> ago
        </td>

        <td>
          <a href="/milks/<%= milk.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @milks, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
